
.att-calendar-buttons-container {
    display: flex;
    flex-direction: column;    
    align-items: center;
}

.att-calendar-today-button, .att-calendar-day-button {
    color: white;
    background: #5a6bce;
}

.att-select-intake-container {
    display: flex;
}

.att-select-intake-mat-select {
    width: 150px;
    background: #a1aada;
}
