<div>
    <mat-sidenav-container class="itl-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
        <mat-sidenav class="itl-sidenav-container-panel" #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'"
            [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-nav-list class="itl-sidenav-container-panel">
                <ng-container *ngIf="userLoggedIn && currentUserRole === 'ADMIN'">
                    <mat-divider [inset]="false"></mat-divider>
                    <h1 class="itl-sidenav-container-item-header">
                        <b>Admin</b>
                    </h1>
                    <a class="itl-sidenav-container-item" mat-list-item routerLinkActive="active" [routerLink]="['/dataUploads']">
                        <mat-icon>list</mat-icon>
                        <span class="itl-sidenav-container-item-label">Data Uploads</span>
                    </a>
                </ng-container>    
                <ng-container *ngIf="userLoggedIn && currentUserRole !== 'ADMIN'">
                    <mat-divider [inset]="false"></mat-divider>
                    <h1 class="itl-sidenav-container-item-header">
                        <b>Timetable</b>
                    </h1>
                    <a class="itl-sidenav-container-item" mat-list-item routerLinkActive="active" [routerLink]="['/schedule']">
                        <mat-icon>schedule</mat-icon>
                        <span class="itl-sidenav-container-item-label">Schedule</span>
                    </a>
                </ng-container>
                <ng-container *ngIf="userLoggedIn && currentUserRole !== 'ADMIN'">
                    <mat-divider [inset]="false"></mat-divider>
                    <h1 class="itl-sidenav-container-item-header">
                        <b>Reports</b>
                    </h1>
                    <a class="itl-sidenav-container-item" mat-list-item routerLinkActive="active" [routerLink]="['/attendanceSummary']">
                        <mat-icon>list</mat-icon>
                        <span class="itl-sidenav-container-item-label">Attendance Summary</span>
                    </a>
                    <!-- <a class="itl-sidenav-container-item" mat-list-item routerLinkActive="active" [routerLink]="['/attendanceStatistics']">
                        <mat-icon>list</mat-icon>
                        <span class="itl-sidenav-container-item-label">Attendance Statistics</span>
                    </a> -->
                </ng-container>
            </mat-nav-list>
        </mat-sidenav>
        <mat-sidenav-content>
            <router-outlet></router-outlet>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>
