<mat-sidenav-container class="itl-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav class="itl-sidenav-container-panel" #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'"
        [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
        <mat-nav-list class="itl-sidenav-container-panel">    
            <ng-container>
                <mat-divider [inset]="false"></mat-divider>
                <h1 class="itl-sidenav-container-item-header">
                    <b>Attendance</b>
                </h1>
                <a class="itl-sidenav-container-item" mat-list-item>
                    <mat-icon>list</mat-icon>
                    <span class="itl-sidenav-container-item-label">Attendance List</span>
                </a>
            </ng-container>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        This is sidemenu content!
    </mat-sidenav-content>
</mat-sidenav-container>
