.att-attendance-status-select {
    width: 200px;
    height: 22px;
    border: 1px solid #5a6bce;
    border-radius: 4px;
}

.att-attendance-percent-input {
    width: 100px;
    height: 22px;
    border: 1px solid #5a6bce;
    border-radius: 4px;
} 